html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Disable blue highlight on touch for links and images */
a,
img {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}
header {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 4vw;
  background-color: rgb(55, 47, 194);
  height: 15vw;
}
.top {
  padding-left: 5%;
  width: 90%;
}
.a {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: white;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  height: 430px;
  border: 1px solid none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.b {
  grid-row: 1;
  grid-column: 1/3;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1em;
}

.dnii {
  margin-left: 7.5%;
  width: 85%;
}
.d {
  grid-row: 3;
  grid-column: 1/3;
  padding-left: 0px;
}

.e {
  display: flex;
  align-items: center;
  border-top: 1.5px solid rgb(209, 209, 209);

  grid-row: 4;
  grid-column: 1;
  padding-left: 10px;
}
.f {
  display: flex;
  align-items: center;
  grid-row: 4;
  grid-column: 2;
  padding-left: 5px;
  border-left: 1.5px solid rgb(209, 209, 209);
  border-top: 1.5px solid rgb(209, 209, 209);
}
.g {
  display: flex;
  align-items: center;
  border-top: 1.5px solid rgb(209, 209, 209);
  grid-row: 5;
  grid-column: 1;
  padding-left: 10px;
}
.h {
  border-top: 1.5px solid rgb(209, 209, 209);

  display: flex;
  align-items: center;
  grid-row: 5;
  grid-column: 2;
}
.qr {
  width: 85%;
}
.flech {
  width: 85%;
  margin-left: 25px;
}
.det {
  width: 65%;
  height: 65%;
}
.des {
  width: 85%;
}

.date_display {
  margin-left: 5px;
}
.textact {
  padding-left: 15px;
}
.act {
  display: flex;
  margin-left: 35px;
}
.flip-container {
  display: flex;
  position: relative;
  grid-row: 2;
  grid-column: 1/3;
  width: 85%;
  height: 220px;
}

.dnii {
  position: absolute;
  width: 330px;
  height: 200px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipped .front {
  transform: rotateY(-180deg);
}

.flipped .back {
  transform: rotateY(0deg);
}
.dots {
  text-align: center;
  margin-bottom: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: rgb(55, 47, 194);
}
